<section>
  <h1>Introduction </h1>
  <p>
    Docit is an App that allows medical professionals to document and generate income for phone conversations with patients.  The system is incredibly simple to use.  Signing up takes less than 2 minutes, and the App will appear on your mobile device. All you have to do is call your patient and Docit will do everything else.  From there, Docit will block your number.   Docit will authenticate your patient and attain their consent.  When the patient is ready, Docit will call you back with the patient for a phone consultation.  When you’re done, Docit will automatically send a detailed summary of the conversation to your practice biller.  The system is the only way to legally and ethically document and potentially charge patients for phone conversation, in an effortless manner.   No matter what time of day or night, DocIt will convert your mobile device into a powerful practice solution.  Remember- your time is precious, your medical advice is worth something.
    Sign Up Now!
  </p>
  <h2>New Users 
  <%= link_to "Sign Up", new_user_registration_url, class: "sign_up_link"%> Here</h2>
  <h2>Contact a Representative: 866-988-3767 </h2>
    
     <div><b><abbr title="Email">Email:</abbr></b><p> <a href="mailto:help@docitamerica.com">help@docitamerica.com</a></p></div>
     <div><b><abbr title="Fax">Fax:</abbr></b><p style="color: #0088cc">866-988-3767</p></div>
  <p>
    Reasons to get Docit now:  Generate Income- Improve documentation and medico-legal protection- Track phone calls- Ensure quality control amongst your colleagues – Block your phone calls- Decrease health care cost for non-essential visits
   </p>
  
</section>
