<section style="margin-left: 10px;">
  <h1>Download App </h1>
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <div class="container-content">
          <% if current_user.platform == "android" %>
          <%= link_to('Click here to download Android app', download_android_app_path, class: "btn btn-large btn-primary") %>
          <% elsif current_user.platform == "ios" %>
            <%= link_to('Click here to download IOS app', "https://itunes.apple.com/us/app/docitamerica/id956068749?ls=1&mt=8", target: "_blank", class: "btn btn-large btn-primary") %>
            <% else %>
          <span> Please select your mobile platform in edit profile section.</span>
            <% end %>     
          </div>
        </div>
      </div>
    </div>
  </section>