<div>
    <p align="center">
        <strong>DOCIT END USER LICENSE AGREEMENT</strong>
    </p>
</div>
<strong>
    <br clear="all"/>
</strong>
<p>
    YOU SHOULD CAREFULLY READ THE FOLLOWING TERMS AND CONDITIONS BEFORE USING THIS PRODUCT. BY CLICKING THE ACCEPTANCE BUTTON AND INSTALLING THE SOFTWARE YOU
    ARE CONSENTING TO BE BOUND BY AND ARE BECOMING A PARTY TO THIS AGREEMENT. IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, CLICK THE BUTTON THAT
    INDICATES YOU DO NOT ACCEPT THE TERMS, AND DO NOT INSTALL THE SOFTWARE.
</p>
<p>
    This Agreement sets forth the terms and conditions of your use of the accompanying DocIt Application (the "Software"). For the purposes of this Agreement,
    "you" or "Licensee" means you, the end user, and "Licensor" means DocIt Inc., a Virginia corporation, and its subsidiaries and affiliates.
</p>
<p>
    <strong>I. LICENSE GRANT</strong>
</p>
<p>
    Licensor hereby grants to you a non-exclusive and non-transferable license to use the Software and related documentation ("Documentation") according to the
    provisions contained herein and subject to payment of applicable license fees. You are not permitted to lease, rent, distribute or sublicense the Software
    or any rights therein. Further, no license is granted to you in the human readable code of the Software (source code). Except as provided below, this
    Agreement does not grant you any rights to patents, copyrights, trade secrets, trademarks, or any other rights in the Software and Documentation.
</p>
<p>
    You may reproduce and provide one (1) copy of the Software and Documentation for each device, computer or workstation on which the Software is installed.
    Otherwise, the Software and Documentation may be copied only as essential for backup or archive purposes. You must reproduce and include all copyright
    notices and any other proprietary rights notices appearing on the Software and Documentation on any copies that you make.
</p>
<p>
    <strong>II. NO ASSIGNMENT; NO TRANSFER</strong>
</p>
<p>
    You agree not to transfer or assign the Software and/or this Agreement to another party without the prior written consent of Licensor. If such consent is
    given and you transfer or assign the Software and/or this Agreement, then you must at the same time either transfer any copies of the Software and
    Documentation to the same party or destroy or return to Licensor any such materials not transferred. Except as set forth above, you may not transfer or
    assign the Software or rights under this Agreement.
</p>
<p>
    <strong>III. NO MODIFICATION; NO REVERSE ENGINEERING</strong>
</p>
<p>
    You agree not to modify, translate, reverse engineer, decompile, disassemble, or create derivative works of the Software or assist someone in performing
    such prohibited acts.
</p>
<p>
    <strong>IV. IMPORT/EXPORT RESTRICTIONS</strong>
</p>
<p>
    You agree not to import or export the Software or any Documentation (or any copies thereof) or any products utilizing the Software or any Documentation in
    violation of any applicable laws or regulations of the United States or the country to which you have imported or exported. You agree to indemnify Licensor
    from liability if you violate any such laws or regulations.
</p>
<p>
    <strong>V. TITLE</strong>
</p>
<p>
    You agree that Licensor owns and holds title to the Software and any Documentation and all subsequent copies thereof regardless of the form or media.
    Furthermore, title, ownership rights, and intellectual property rights in the Software and any Documentation shall remain with Licensor. The Software and
    any Documentation are protected by copyright and other intellectual property laws and by international treaties.
</p>
<p>
    <strong>VI. TERM AND TERMINATION</strong>
</p>
<p>
    This license will commence with your initial payment to DocIt Inc. in accordance with the license purchase terms on any DocIt Inc. approved marketplace
    where you purchased and/or downloaded the Software; the license to use this Software will continue throughout the periods that you make payment for use in
    accordance with the terms of your purchase; this license will automatically terminate following the last period of payment in accordance with the terms of
    your purchase. You may terminate this license at any time by destroying the Software and any Documentation together with all copies and merged portions in
    any form. It will also terminate immediately if you fail to comply with any term or condition of this Agreement, file for bankruptcy, or are placed in
    receivership. Upon such termination, you agree to destroy the Software and Documentation, together with all copies thereof. You agree not to be entitled to
    a refund of any applicable license fee upon early termination of this Agreement.
</p>
<p>
    <strong>VII. GOVERNING LAW</strong>
</p>
<p>
    The laws of the State of Virginia shall govern the construction of this Agreement and you agree to be subject to personal jurisdiction in the State of
    Virginia for the purposes of enforcing the provisions of this Agreement.
</p>
<p>
    <strong>VIII. DISCLAIMER OF WARANTY</strong>
</p>
<p>
    THE SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, AND THERE ARE NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY OF
    MERCHANTABILITY, ACCURACY OF INFORMATIONAL CONTENT OR FITNESS FOR A PARTICULAR PURPOSE OR SYSTEM INTEGRATION. LICENSEE SHALL BE SOLELY RESPONSIBLE FOR THE
    SELECTION, USE, EFFICIENCY, AND SUITABILITY OF THE SOFTWARE AND LICENSOR SHALL HAVE NO LIABILITY THEREFOR. THERE IS NO WARRANTY AGAINST INFRINGEMENT OF ANY
    INTELLECTUAL PROPERTY RIGHTS OF ANOTHER. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED OR LIMITATIONS ON APPLICABLE STATUTORY RIGHTS OF A
    CONSUMER, SO THE ABOVE EXCLUSION AND LIMITATIONS MAY NOT APPLY TO LICENSEE. Some jurisdictions do not permit the exclusion of implied warranties or
    limitations on applicable statutory rights of the consumer, and, as such, some portion of the above limitation may not apply to Licensee. In such
    jurisdictions, Licensor's liability is limited to the greatest extent permitted by law.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>IX. LIMITATION OF REMEDIES</strong>
</p>
<p>
    Under no circumstances and under no legal theory shall Licensor, or its suppliers or resellers, be liable to you or any other person for any indirect,
    special, incidental, or consequential damages of any character including, without limitation, damages for loss of goodwill, lost profits, business
    interruptions, work stoppage or commercial damages or losses arising from the use or inability to use the Software (whether or not due to any defects
    therein).
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>X. BILLING, MALPRACTICE AND HIPAA DISCLAIMERS</strong>
</p>
<p>
    DocIt Inc. is not a billing company or medical provider. By using the Software, you agree that: (i) DocIt Inc. shall not be responsible for any billing
    disputes between you and any third party; and (ii) DocIt Inc. shall not be responsible for any disputes between you and any third party arising out of any
    alleged claims against you for medical malpractic; and (iii) the Software does not transfer to DocIt Inc., nor does DocIt Inc. store, any information,
    including but not limited to protected health information, associated with your patients, nor shall you use the Software to attempt to transfer or
    communicate any such information to DocIt Inc.
</p>
<p>
    <strong>XI. INDEMNIFICATION</strong>
</p>
<p>
    You agree to defend, indemnify and hold harmless Licensor, its suppliers and its resellers from and against liabilities, costs, damages and expenses
    (including settlement costs and reasonable attorneys' fees) arising from any claims from anybody that result from or relate to your use, reproduction or
    distribution of the Software including, but not limited to, any third party claims arising from billing disputes between you and any third party, any third
    party claims arising from any alleged medical malpractice committed by you, any alleged violation by you of the provisions of the Health Insurance
    Portability and Accountability Act of 1996 (HIPAA) and its amendments, or any other alleged violation by you of third party or patient privacy.
</p>
<p>
    <strong>XII. SEVERABILITY</strong>
</p>
<p>
    In the event any provision of this Agreement is found to be invalid, illegal or unenforceable, the validity, legality and enforceability of any of the
    remaining provisions shall not in any way be affected or impaired.
</p>
<p>
    <strong>XIII. ENTIRE AGREEMENT</strong>
</p>
<p>
    You further agree that this Agreement is the complete and exclusive statement of the agreement between you and Licensor which supersedes all proposals or
    prior agreements, oral or written, and all other communications between you and Licensor relating to the subject matter of this agreement. This Agreement
    may only be modified by a written agreement signed by both you and Licensor.
</p>
<p>
    <strong>XIV. ACKNOWLEDGEMENT</strong>
</p>
<p>
    By using any part of this Software, you indicate that you have read this Agreement, understand it, and agree to be bound by its terms and conditions.
</p>