<section style="margin-left: 10px;">
  <h1>Info for Billers/Coders </h1>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
     <p>   <b>Disclaimer: </b> 
    These are general principals related to coding and billing phone consultations for your practice.  Remember, these are just suggestions and it is the practice’s responsibility to ensure proper billing and coding practices, as Docit is held harmless, in all instances, as Docit is not a billing company.
        </p>
  <p>
   <b> Codes and Duration: </b>  When medical professional are Signing Up with Docit, they will be asked to input how much they wish to charge for conversations based on the duration of conversation.   There are generally 4 codes available.   Please refer to the detailed description of each code in a current ICD/CPT manual in order to code/bill properly.  </p>
  <p>99499- This is a miscellaneous unlisted code.  Use this code for conversations less than 5 minutes or greater than 30minutes.  </p>
  <p>99441- code for conversation 5-10minutes </p>
  <p>99442- code for conversations 10-20minutes</p>
  <p>99443- code for conversation 20-30minutes</p>
  <p><b>How it all works:</b>   Your medical provider(s) need to register with Docit on our website.  Registration takes less than 2 minutes.   They will be asked to assign how much they wish to charge when consulting with patients over the phone.  Once they finish, they must download the App while on our website using their phone.  Once they do so, they are ready.   When your medical provider(s) completes a phone consultation, Docit will automatically generate a billing summary.  Docit will compile all of these summaries over a 24hour period and then email you a reminder to login and review these summaries.   All the summaries will clearly demonstrate the name of the provider, date and time of consultation, duration, and 3 very important links.  These links when pressed will reveal the patients stated name, date of birth, and the reason for the consultation.  With this information, you can proceed.  </p>
  <b>Suggestions:</b>
  <ol type="1">
    <li> Docit has a built in system for patient consent.  When the provider(s) calls the patient, the system will attain permission for a billed conversation, and even provide the patient with an option to listen to the assigned potential charges, that were assigned when your provider(s) first registered.   While this consent process is appropriate for most commercial payers, it is highly suggested that for Medicare and Medicaid patients, a written ABN is signed as well.  It is best that all new and established patients have an ABN form signed for telephone consultations outlining the exact potential charges.</li>

    <li>Medicaid patients may be charged in some states for phone consultations, though confirmation is needed by your local Medicaid representative, and a written ABN is required if such practices are approved in your state.  It is the practices responsibility to determine state regulations.</li>

    <li>Medicare has deemed that phone consultations are a patient financial responsibility.   With a written ABN you are not confined to the Medicare Fee schedule.  Remember that a written ABN is required to charge a Medicare patient.  It is sound practice to submit the claim to Medicare, and when doing so, to use Modifier GA indicating a signed ABN form.</li>
    <li>For commercial payers, it is suggested that a claim is sent to the respective insurance company.  The amount to charge the patient should be based on the E.O.B returned.  </li>
    <li>Nurse Practitioners and Physician Assistants may charge based on the same principals outlined</li>
    <li>A Provider to Provider consultation over the phone may be charged.  As an example, this occurs when a primary care doctor has their patient in the Emergency Room, and the E.R. Physician wishes to consult the primary care Physician regarding their mutual patient.   Because the patient did not provide permission to be billed over the Docit system, rather it was the ER doctor or unit secretary, who picked up the phone, it is best if a written ABN was previously established for such a patient.   Please read and follow any information in current ICD/CPT manuals regarding global billing practices and those pertaining to billing codes, in particular; 99441, 99442, and 99443.  There are special provisions to be aware of in regards to bundled services. </li>
    <li>Physicians not participating with commercial or government payers are not subject to such restrictions.</li>
  </ol>
  
  <%= link_to('Download a generic ABN Form', download_pdf_path) %>
        </div>
    </div>
</div>
</section>
