<section style="margin-left: 10px;">
  <h1>Info for Billers/Coders </h1>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
     <p>   <b>Disclaimer: </b> 
    These are general principals related to coding and billing phone consultations for your practice. Remember, this memo is an informational guide only and not legal advice, as it is the practice’s responsibility to ensure proper billing and coding practices, and that such practices conform to local and state regulations; as Docit is held harmless in all instances, as Docit is not a billing and/or coding company.
        </p>
  <p>
   <b> Codes and Duration: </b>  When medical professional are Signing Up with Docit, they will be asked to input how much they wish to charge for conversations based on the duration of conversation. There are generally 4 codes available. Please refer to the detailed description of each code in a current ICD/CPT manual in order to code/bill properly. </p>
  <p>99499- This is a miscellaneous unlisted code. Use this code for conversations less than 5 minutes or greater than 30minutes. </p>
  <p>99441- code for conversation 5-10minutes </p>
  <p>99442- code for conversations 10-20minutes</p>
  <p>99443- code for conversation 20-30minutes</p>
  <p><b>How it all works:</b>   Your medical provider(s) need to register with Docit on our website. Registration takes less than 2 minutes. They will be asked to assign how much they wish to charge when consulting with patients over the phone. Once they finish, they must download the App through their Smartphone while on our website.  Once finished, they are ready to start consulting. When your medical provider(s) complete a phone consultation, Docit will automatically generate a billing summary. Docit will compile all of these summaries over a 24hour period and then email you the Biller, a memo to login and review these summaries. All the summaries will clearly demonstrate the name of the provider, date and time of consultation, the duration of the consultation, and 3 very important links. These links when pressed will reveal the patients stated name, date of birth, and the reason for the consultation. With this information, you can generate a bill.  </p>
  <b>Suggestions:</b>
  <ol type="1">
    <li> When your medical provider calls a patient using Docit, the Docit system will attain the patient's permission for a recorded and billed conversation in English or Spanish.  Docit will attain consent and even provide the patient with an option to listen to the assigned potential charges that were assigned by your providers when they registered.  This telephone based consent process is satisfactory for commercial payers.  For Medicare and Medicaid patients, it is highly suggested that a written ABN is signed as well.  </li>

    <li>You will easily see the duration of each consultation in your billing report and exactly how much the Provider wishes to charge for such a conversation.  CPT code 99499 is used for conversations <5 minutes or greater than >30 minutes.   If a service satisfies CPT code 99499, this service can be billed directly to the patient, as it does not have to be submitted to the insurance company.  General statistics confirm that most consultations are less than 5minutes in duration.   CPT codes 99441-3 should be billed to the patient’s insurance company.   If the patient has commercial insurance, the amount to charge the patient for CPT codes 99441-3 should be based on the E.O.B returned. </li>

    <li>Medicaid patients may be charged in some states for phone consultations, though confirmation is needed by your local Medicaid representative, and a written ABN is required if such practices are approved in your state. It is the practices responsibility to determine state regulations.</li>
    <li>Medicare has deemed that all phone consultations are a patient’s financial responsibility.  You may therefore charge a patient directly for all phone consultations, only if a written ABN form is signed.   Providers may assign their preferred charges as providers are not confined to the Medicare Fee schedule.  Services satisfying CPT code 99499 do not need to be submitted to Medicare.  It is sound practice that CPT codes 99441-3 are submitted to Medicare, even though you may charge the patient directly.   When submitting a claim to Medicare for CPT codes 99441-3, add modifier GA indicating a signed ABN form is on file.  </li>
    <li>Nurse Practitioners and Physician Assistants may charge based on the same principals outlined herein.</li>
    <li>A Provider to Provider consultation over the phone, may be charged. As an example, this occurs when a primary care doctor has their patient in the Emergency Room, and the E.R. Physician wishes to consult the primary care Physician regarding their mutual patient. Because the patient did not provide permission to be billed over the Docit system, rather it was the ER doctor or unit secretary, who picked up the phone, it is imperative that a written ABN was previously signed by the patient in order to bill the event.  It is therefore best practice, that for all patients, new and established, that a written ABN form is signed to further support the acknowledgment of the patient in all instances. </li>
    <li>Please read and follow any information in current ICD/CPT manuals regarding global billing practices and those pertaining to billing codes, in particular; 99441, 99442, and 99443. There are special provisions to be aware of in regards to bundled services.</li>
    <li>Physicians not participating with commercial or government payers are not subject to such restrictions and may be billed directly.</li>
  </ol>
  
  <%= link_to('Download a generic ABN Form', download_pdf_path) %>
        </div>
    </div>
</div>
</section>
