<section class="field_margin_bottom">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <%= render "verify_number_form" %>
      </div>
    </div>
  </div>
  <%= link_to "Didn't receive verification code?", verification_new_url, class: "sign_up_link"%>
 
</section>