<p>Hi <%= @email %>! Welcome to DocIT</p>

<p>You are invited by <%=  %> to register as intended recipient, For registration please follow the link below:</p>

<p><%= link_to 'Register as Intended recipient', signup_new_url(@user.id) %></p>
