<p>Hello <%= @to.name %>, 
you have new phone consultations ready to be reviewed.</p>
<br>
<%= link_to("Enter Portal Here", call_logs_url) %>

<p><i>(By entering this portal, you are agreeing to comply with all patient confidentiality and privacy laws.)</i></p>

</br>
<p>Thank you,</p>
<p>Docit</p>
