<p>Hello <%= @to.name %>, 
you have new phone consultations ready to be reviewed.</p>
<br>
<%= link_to image_tag(attachments['email_image.jpg'].url, :border => 0, :width=>"250px", :height=>"150px"), call_logs_url, :target =>"_blank" %>
<p><i>(By entering this portal, you are agreeing to comply with all patient confidentiality and privacy laws.)</i></p>

</br>
<p>Thank you,</p>
<p>Docit</p>
